pytest==7.1.2
pytest-selenium
termcolor~=1.1.0
allure-python-commons

py~=1.11.0
colorama~=0.4.4
pip==22.2.2
toml~=0.10.2
wheel~=0.37.1
Brotli~=1.0.9
tornado~=6.1
attrs==21.4.0
sniffio~=1.2.0
ipython==8.4.0
cffi~=1.15.0
idna~=3.3
wcwidth~=0.2.5
pluggy~=1.0.0
iniconfig~=1.1.1
atomicwrites~=1.4.0
numpy~=1.22.3
certifi==2022.6.15
six~=1.16.0
urllib3~=1.26.7
chardet==5.0.0
selenium==4.3.0
tenacity==8.0.1
pyparsing==3.0.9
pycparser~=2.20
Jinja2==3.1.2
setuptools==62.6.0
future~=0.18.2
docutils~=0.18.1
packaging~=21.3